POSTGRES_USER=prod_user
POSTGRES_PASSWORD=super_secret_password
POSTGRES_DB=production_db

VITE_API_URL=https://api.mywebsite.com
DATABASE_URL=postgresql://prod_user:password@production-db-host:5432/production_db

ADMIN_USERNAME=admin
ADMIN_PASSWORD=secret
